
.container_post {
	background: #fff;
	padding: 1px 0 0 0;
	margin: 10px auto 10px auto;
	margin-left: calc(5% + 10px);
	width: calc(90% - 20px);
	border-bottom: 1px solid #d7d7d7;
}

.container_post h1 {
	width: 60%;
	font: 36px "Lora";
	padding: 20px 0 10px 0;
	margin: 0 auto 0 auto;
	text-align: center;
}

.post_text {
	position: relative;
	padding: 0;
	padding-bottom: 10px;
	margin: 0 5px 0 5px;
	background: #fff;
}

#post_close {
	position: absolute;
	width: 89%;
	margin: 0;
	padding: 0;
}

#post_date {
	padding-bottom: 20px;
	font: 14px "PT Sans Narrow";
	color: #9e9b97;
	text-align: center;
}

#post_close a {
	float: right;
	display: block;
	margin: 15px;
	padding: 0;
	width: 40px;
	height: 40px;
	background: url(../img/post_close.png) center no-repeat;
}

.grid {
	text-align: center;
	vertical-align: top;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 49.5%;
}

.grid p {
	font: 17px "Lora";
	display: block;
	text-align: justify;
	margin: 0 auto 10px auto;
	width: 97%;
}

.grid:nth-child(3n) {

}
/*
.grid:nth-child(even) {
	display: table-cell;
}
*/
.grid img {
	margin: 0 0 20px 0;
	width: 97%;
}

.after_post {
	border-top: 1px solid #d8d7d9;
	padding: 15px;
	text-align: center;
}

.after_post a {
	font: bold 14px "PT Sans Narrow";
	color: lightslategray;
}

.img_link {
	cursor: zoom-in;
}

.after_post a:hover {
	color: #965621;
}

.share {
	margin: 0;
	padding: 0;
	height: 45px;
}

.share a {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 0;
	padding: 14px 10px 0 10px;
	height: 31px;
}



.youtube {
    position: relative;
    width: 50%;
    height: 500px;
}

.post_text iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}


@media only screen and (min-width: 770px) {

}

@media only screen and (min-width: 770px) and (max-width: 1200px) {

	.container_post {
		margin-left: calc(2.5% + 10px);
		width: calc(95% - 20px);
	}

	.container_post h1 {
		width: 80%;
	}

}

@media only screen and (max-width: 769px) {

	.container_post {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.grid p {
		font: 15px "Lora";
		margin: 0 auto 10px auto;
		width: 97%;
	}

	.container_post h1 {
		font-size: 24px;
		width: 80%;
	}

}

@media only screen and (max-width: 660px) {

	.container_post {
		margin-top: 0;
		padding: 0;
		width: 100%;
	}

	.post_text {
		padding: 0;
		margin: 0;
	}

	.grid img {
		margin: 0 0 10px 0;
		padding: 0;
		width: 100%;
	}

	.grid p {
		font: 16px "Lora";
		margin: 0 auto 10px auto;
		display: block;
		text-align: justify;
		width: 95%;
	}

	.grid {
		text-align: center;
		vertical-align: top;
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 100%;
	}

	.container_post h1 {
		position: relative;
		width: 95%;
		font: 24px "Lora";
		padding: 20px 0 10px 0;
		margin: 0 auto 0 auto;
	}

}