Options -Indexes
ErrorDocument 404 /grkvnko.me/
ErrorDocument 403 /grkvnko.me/
RewriteEngine On

RewriteBase /grkvnko.me/

RewriteCond %{REQUEST_URI} !(^(.*\.png|.*\.jpg|.*\.css|.*\.js|.*\.ico)$) [NC]
RewriteRule . index.php [NC,L]